.list-item{
    border: 2px solid #000000;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

.text-dashed{
    text-decoration: line-through;
    padding: 0px;
    margin: 0px;
}

.text-normal{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.modify-task{
    width: 100px;
    height: 30px;
    background-color: violet;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.delete-task-button{
    width: 100px;
    height: 30px;
    background-color: violet;
    color:#ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    padding: 5px;
}